<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_user.css') }}">
<style>
    html {
        width:100%;
        height:100%;
    }
    body {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
}
</style>
</head>
<body>

{% for msg in get_flashed_messages() %}
<div class="toast show">
    <div class="toast-header notic">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
</div>
{% endfor %}
<div class="full">
    <div class="window-reg" style="border-radius:35px;box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; padding:20px;">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 10px; padding-top: 0;">
                <form method="post" name="action" value="reg">
                    <div class="modal-header" style="border-bottom: solid;display:flex; justify-content:space-between;">
                        <h1 class="modal-title fs-5">Регистрация</h1>
                        <a href="/" type="button" class="btn-close" aria-label="Close"></a>
                    </div>
                    <div class="register" style="padding-bottom: 20px;">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Придуймайте пароль</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Повторите пароль</label>
                            <input type="password" name="password1"  class="form-control">
                        </div>


                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="/login" class="btn btn-secondary">Назад</a>
                        <input type="submit" class="btn btn-primary" style="margin-left:10px;" value="Регистрация">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>